body{
    background-color: rgb(0, 1, 2);
}

.container {
    margin: 100px 0 0 0;
    width: 100%;
    height: 450px;
    display: flex;
    justify-content: center;
    gap: 14px;
}

.container img{
    width: 5%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    border: 2px solid rgba(255, 255, 255, 0.6);
    transition: all ease-in-out 0.6s;
}

.container img:hover{
    width: 25%;
}

div h1{
    text-align: center;
    color: white;
    margin: 50px auto;
    font-size: 2em;
    font-family: 'Courier New', Courier, monospace;
}

@media (min-width: 600px) and (max-width: 1024px){

    .container img {
        width: 4%;
    
            
    }


    .container img:hover{
        width: 50%;
    }
}